.mainWrapper{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .textInput{
        margin: 50px 0;
        height: 100px;
        width: 50%;
        border-radius: 15px;
        padding: 10px 30px; ;  
        font-size: 50px;
    }
    .submitButton{
        width: 400px;
        border-radius: 15px;
        height: 200px; 
        font-size: 50px;  
        margin: 50px 0;
    }

}